<footer>
  <p>&copy; <%= new Date().getFullYear() %> Temu Tech Store</p>
  <p>All Rights Reserved</p>
  <div class="social-links">
    <a href="https://www.facebook.com/TemuTechStore" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.twitter.com/TemuTechStore" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/TemuTechStore" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</footer>